Datensatz importieren

In [1]:
import pandas as pd
df = pd.read_csv("titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Spalten filtern

In [2]:
df_filtered = df.filter(items = ["Survived", "Pclass", "Age", "SibSp", "Parch", "Fare"])
df_filtered

     Survived  Pclass   Age  SibSp  Parch     Fare
0           0       3  22.0      1      0   7.2500
1           1       1  38.0      1      0  71.2833
2           1       3  26.0      0      0   7.9250
3           1       1  35.0      1      0  53.1000
4           0       3  35.0      0      0   8.0500
..        ...     ...   ...    ...    ...      ...
886         0       2  27.0      0      0  13.0000
887         1       1  19.0      0      0  30.0000
888         0       3   NaN      1      2  23.4500
889         1       1  26.0      0      0  30.0000
890         0       3  32.0      0      0   7.7500

[891 rows x 6 columns]

NAs droppen

In [3]:
df_dropped = df_filtered.dropna()
df_dropped

     Survived  Pclass   Age  SibSp  Parch     Fare
0           0       3  22.0      1      0   7.2500
1           1       1  38.0      1      0  71.2833
2           1       3  26.0      0      0   7.9250
3           1       1  35.0      1      0  53.1000
4           0       3  35.0      0      0   8.0500
..        ...     ...   ...    ...    ...      ...
885         0       3  39.0      0      5  29.1250
886         0       2  27.0      0      0  13.0000
887         1       1  19.0      0      0  30.0000
889         1       1  26.0      0      0  30.0000
890         0       3  32.0      0      0   7.7500

[714 rows x 6 columns]

Train / Test Unterteilung

In [4]:
from sklearn.model_selection import train_test_split
survived = df_dropped.filter(items = ["Survived"])
features = df_dropped.filter(items = ["Pclass", "Age", "SibSp", "Parch", "Fare"])
X_train, X_test, y_train, y_test = train_test_split(features, survived, test_size=0.2, random_state=0)
X_train

     Pclass   Age  SibSp  Parch      Fare
387       2  36.0      0      0   13.0000
685       2  25.0      1      2   41.5792
20        2  35.0      0      0   26.0000
331       1  45.5      0      0   28.5000
396       3  31.0      0      0    7.8542
..      ...   ...    ...    ...       ...
883       2  28.0      0      0   10.5000
238       2  19.0      0      0   10.5000
789       1  46.0      0      0   79.2000
704       3  26.0      1      0    7.8542
856       1  45.0      1      1  164.8667

[571 rows x 5 columns]

Model trainieren

In [5]:
from sklearn.linear_model import LogisticRegression
logisticRegr = LogisticRegression(max_iter=1000)
logisticRegr.fit(X_train, y_train)

C:\Users\Illuminatus\anaconda3\envs\untitled\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

LogisticRegression(max_iter=1000)

Accuracy, Precision, Recall

In [6]:
predictions = logisticRegr.predict(X_test)

In [7]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, predictions)

0.6993006993006993

In [8]:
from sklearn.metrics import precision_score
precision_score(y_test, predictions)

0.723404255319149

In [9]:
from sklearn.metrics import recall_score
recall_score(y_test, predictions)

0.53125

Spalte umwandeln

In [10]:
df_withSex = df.filter(items = ["Survived", "Pclass", "Age", "SibSp", "Parch", "Fare", "Sex"])
df_withSex['Sex'].replace({'female':1, 'male':0}, inplace=True)
df_withSex

     Survived  Pclass   Age  SibSp  Parch     Fare  Sex
0           0       3  22.0      1      0   7.2500    0
1           1       1  38.0      1      0  71.2833    1
2           1       3  26.0      0      0   7.9250    1
3           1       1  35.0      1      0  53.1000    1
4           0       3  35.0      0      0   8.0500    0
..        ...     ...   ...    ...    ...      ...  ...
886         0       2  27.0      0      0  13.0000    0
887         1       1  19.0      0      0  30.0000    1
888         0       3   NaN      1      2  23.4500    1
889         1       1  26.0      0      0  30.0000    0
890         0       3  32.0      0      0   7.7500    0

[891 rows x 7 columns]

NAs droppen

In [11]:
df_dropped = df_withSex.dropna()
df_dropped

     Survived  Pclass   Age  SibSp  Parch     Fare  Sex
0           0       3  22.0      1      0   7.2500    0
1           1       1  38.0      1      0  71.2833    1
2           1       3  26.0      0      0   7.9250    1
3           1       1  35.0      1      0  53.1000    1
4           0       3  35.0      0      0   8.0500    0
..        ...     ...   ...    ...    ...      ...  ...
885         0       3  39.0      0      5  29.1250    1
886         0       2  27.0      0      0  13.0000    0
887         1       1  19.0      0      0  30.0000    1
889         1       1  26.0      0      0  30.0000    0
890         0       3  32.0      0      0   7.7500    0

[714 rows x 7 columns]

Train / Test Unterteilung

In [12]:
from sklearn.model_selection import train_test_split
survived = df_dropped.filter(items = ["Survived"])
features = df_dropped.filter(items = ["Pclass", "Age", "SibSp", "Parch", "Fare", "Sex"])
X_train, X_test, y_train, y_test = train_test_split(features, survived, test_size=0.2, random_state=0)
X_train

     Pclass   Age  SibSp  Parch      Fare  Sex
387       2  36.0      0      0   13.0000    1
685       2  25.0      1      2   41.5792    0
20        2  35.0      0      0   26.0000    0
331       1  45.5      0      0   28.5000    0
396       3  31.0      0      0    7.8542    1
..      ...   ...    ...    ...       ...  ...
883       2  28.0      0      0   10.5000    0
238       2  19.0      0      0   10.5000    0
789       1  46.0      0      0   79.2000    0
704       3  26.0      1      0    7.8542    0
856       1  45.0      1      1  164.8667    1

[571 rows x 6 columns]

Model trainieren

In [13]:
from sklearn.linear_model import LogisticRegression
logisticRegr = LogisticRegression(max_iter=1000)
logisticRegr.fit(X_train, y_train)

C:\Users\Illuminatus\anaconda3\envs\untitled\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

LogisticRegression(max_iter=1000)

Accuracy, Precision, Recall

In [14]:
predictions = logisticRegr.predict(X_test)

In [15]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, predictions)

0.8461538461538461

In [16]:
from sklearn.metrics import precision_score
precision_score(y_test, predictions)

0.8387096774193549

In [17]:
from sklearn.metrics import recall_score
recall_score(y_test, predictions)

0.8125