In [1]:
# 2. Öffnen Sie die Daten mit Pandas und

import pandas as pd
titanicdata = pd.read_csv("titanic.csv")
titanicdata

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [2]:
# 2. filtern Sie alle nicht benötigten Attribute raus. 
titanicauswahl = titanicdata.filter(items={'Survived','Pclass','Age','SibSp','Parch','Fare'})
titanicauswahl

     SibSp   Age     Fare  Parch  Pclass  Survived
0        1  22.0   7.2500      0       3         0
1        1  38.0  71.2833      0       1         1
2        0  26.0   7.9250      0       3         1
3        1  35.0  53.1000      0       1         1
4        0  35.0   8.0500      0       3         0
..     ...   ...      ...    ...     ...       ...
886      0  27.0  13.0000      0       2         0
887      0  19.0  30.0000      0       1         1
888      1   NaN  23.4500      2       3         0
889      0  26.0  30.0000      0       1         1
890      0  32.0   7.7500      0       3         0

[891 rows x 6 columns]

In [3]:
# 3. Entfernen Sie alle Zeilen mit N/A-Werten (Hint 1: nächste Folie). 
titanicauswahl = titanicauswahl.dropna()
titanicauswahl

     SibSp   Age     Fare  Parch  Pclass  Survived
0        1  22.0   7.2500      0       3         0
1        1  38.0  71.2833      0       1         1
2        0  26.0   7.9250      0       3         1
3        1  35.0  53.1000      0       1         1
4        0  35.0   8.0500      0       3         0
..     ...   ...      ...    ...     ...       ...
885      0  39.0  29.1250      5       3         0
886      0  27.0  13.0000      0       2         0
887      0  19.0  30.0000      0       1         1
889      0  26.0  30.0000      0       1         1
890      0  32.0   7.7500      0       3         0

[714 rows x 6 columns]

In [4]:
#4. Unterteilen Sie die Daten in Trainings- und Testdaten. 

from sklearn.model_selection import train_test_split
##--------------------------------------------------|-----------------features-------------------------------------------|-----label--------------|
X_train, X_test, y_train, y_test = train_test_split(titanicauswahl.filter(items={'Pclass','Age','SibSp','Parch','Fare'}), titanicauswahl.Survived, test_size=0.2, random_state=0)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(571, 5)
(143, 5)
(571,)
(143,)

In [5]:
# 5. Trainieren Sie eine Logistische Regression auf den Trainingsdaten. 
from sklearn.linear_model import LogisticRegression
logisticRegr = LogisticRegression(max_iter=1000)
logisticRegr.fit(X_train, y_train)

LogisticRegression(max_iter=1000)

In [6]:
#6. Testen Sie das Modell auf den Testdaten. Ermitteln Sie Accuracy, Precision und Recall. 
predictions = logisticRegr.predict(X_test)
from sklearn.metrics import accuracy_score
accuracy_score(y_test, predictions)

0.6993006993006993

In [7]:
from sklearn.metrics import precision_score
precision_score(y_test, predictions)

0.723404255319149

In [8]:
from sklearn.metrics import recall_score
recall_score(y_test, predictions)

0.53125

In [9]:
#7. Bonus: Fügen Sie das Attribute „Sex“ als Feature hinzu.
titanicWithSex = titanicdata.filter(items={'Survived','Pclass','Age','SibSp','Parch','Fare','Sex'})

titanicWithSex['Sex'].replace({'female':0,'male':1}, inplace = True)
titanicWithSex = titanicWithSex.dropna()

In [10]:
X_train2, X_test2, y_train2, y_test2 = train_test_split(titanicWithSex.filter(items={'Pclass','Age','SibSp','Parch','Fare','Sex'}), titanicWithSex.Survived, test_size=0.2, random_state=0)
print(X_train2.shape)
print(X_test2.shape)
print(y_train2.shape)
print(y_test2.shape)

(571, 6)
(143, 6)
(571,)
(143,)

In [11]:

logisticRegr2 = LogisticRegression(max_iter=1000)
logisticRegr2.fit(X_train2, y_train2)

predictions2 = logisticRegr2.predict(X_test2)

In [12]:
accuracy_score(y_test2, predictions2)

0.8461538461538461

In [13]:
precision_score(y_test2, predictions2)

0.8387096774193549

In [14]:
recall_score(y_test2, predictions2)

0.8125